In [1]:
import json
import requests
import pandas as pd
import numpy as np

In [2]:
r=requests.get('https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json')

In [3]:
print(r)

<Response [200]>

In [4]:
r = requests.get('https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json')
print(r.json())

[{'title': 'The Shawshank Redemption', 'rank': '1', 'id': 'tt0111161'}, {'title': 'The Godfather', 'rank': '2', 'id': 'tt0068646'}, {'title': 'The Godfather: Part II', 'rank': '3', 'id': 'tt0071562'}, {'title': 'Pulp Fiction', 'rank': '4', 'id': 'tt0110912'}, {'title': 'The Good, the Bad and the Ugly', 'rank': '5', 'id': 'tt0060196'}, {'title': 'The Dark Knight', 'rank': '6', 'id': 'tt0468569'}, {'title': '12 Angry Men', 'rank': '7', 'id': 'tt0050083'}, {'title': "Schindler's List", 'rank': '8', 'id': 'tt0108052'}, {'title': 'The Lord of the Rings: The Return of the King', 'rank': '9', 'id': 'tt0167260'}, {'title': 'Fight Club', 'rank': '10', 'id': 'tt0137523'}, {'title': 'Star Wars: Episode V - The Empire Strikes Back', 'rank': '11', 'id': 'tt0080684'}, {'title': 'The Lord of the Rings: The Fellowship of the Ring', 'rank': '12', 'id': 'tt0120737'}, {'title': "One Flew Over the Cuckoo's Nest", 'rank': '13', 'id': 'tt0073486'}, {'title': 'Inception', 'rank': '14', 'id': 'tt1375666'}, {'title': 'Goodfellas', 'rank': '15', 'id': 'tt0099685'}, {'title': 'Star Wars', 'rank': '16', 'id': 'tt0076759'}, {'title': 'Seven Samurai', 'rank': '17', 'id': 'tt0047478'}, {'title': 'Forrest Gump', 'rank': '18', 'id': 'tt0109830'}, {'title': 'The Matrix', 'rank': '19', 'id': 'tt0133093'}, {'title': 'The Lord of the Rings: The Two Towers', 'rank': '20', 'id': 'tt0167261'}, {'title': 'City of God', 'rank': '21', 'id': 'tt0317248'}, {'title': 'Se7en', 'rank': '22', 'id': 'tt0114369'}, {'title': 'The Silence of the Lambs', 'rank': '23', 'id': 'tt0102926'}, {'title': 'Once Upon a Time in the West', 'rank': '24', 'id': 'tt0064116'}, {'title': 'Casablanca', 'rank': '25', 'id': 'tt0034583'}, {'title': 'The Usual Suspects', 'rank': '26', 'id': 'tt0114814'}, {'title': 'Raiders of the Lost Ark', 'rank': '27', 'id': 'tt0082971'}, {'title': 'Rear Window', 'rank': '28', 'id': 'tt0047396'}, {'title': "It's a Wonderful Life", 'rank': '29', 'id': 'tt0038650'}, {'title': 'Psycho', 'rank': '30', 'id': 'tt0054215'}, {'title': 'Léon: The Professional', 'rank': '31', 'id': 'tt0110413'}, {'title': 'Sunset Blvd.', 'rank': '32', 'id': 'tt0043014'}, {'title': 'American History X', 'rank': '33', 'id': 'tt0120586'}, {'title': 'Apocalypse Now', 'rank': '34', 'id': 'tt0078788'}, {'title': 'Terminator 2: Judgment Day', 'rank': '35', 'id': 'tt0103064'}, {'title': 'Saving Private Ryan', 'rank': '36', 'id': 'tt0120815'}, {'title': 'Memento', 'rank': '37', 'id': 'tt0209144'}, {'title': 'City Lights', 'rank': '38', 'id': 'tt0021749'}, {'title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'rank': '39', 'id': 'tt0057012'}, {'title': 'Alien', 'rank': '40', 'id': 'tt0078748'}, {'title': 'Modern Times', 'rank': '41', 'id': 'tt0027977'}, {'title': 'Spirited Away', 'rank': '42', 'id': 'tt0245429'}, {'title': 'North by Northwest', 'rank': '43', 'id': 'tt0053125'}, {'title': 'Back to the Future', 'rank': '44', 'id': 'tt0088763'}, {'title': 'Life Is Beautiful', 'rank': '45', 'id': 'tt0118799'}, {'title': 'The Shining', 'rank': '46', 'id': 'tt0081505'}, {'title': 'The Pianist', 'rank': '47', 'id': 'tt0253474'}, {'title': 'Citizen Kane', 'rank': '48', 'id': 'tt0033467'}, {'title': 'The Departed', 'rank': '49', 'id': 'tt0407887'}, {'title': 'M', 'rank': '50', 'id': 'tt0022100'}, {'title': 'Paths of Glory', 'rank': '51', 'id': 'tt0050825'}, {'title': 'Vertigo', 'rank': '52', 'id': 'tt0052357'}, {'title': 'Django Unchained', 'rank': '53', 'id': 'tt1853728'}, {'title': 'Double Indemnity', 'rank': '54', 'id': 'tt0036775'}, {'title': 'The Dark Knight Rises', 'rank': '55', 'id': 'tt1345836'}, {'title': 'Aliens', 'rank': '56', 'id': 'tt0090605'}, {'title': 'Taxi Driver', 'rank': '57', 'id': 'tt0075314'}, {'title': 'American Beauty', 'rank': '58', 'id': 'tt0169547'}, {'title': 'The Green Mile', 'rank': '59', 'id': 'tt0120689'}, {'title': 'Gladiator', 'rank': '60', 'id': 'tt0172495'}, {'title': 'The Intouchables', 'rank': '61', 'id': 'tt1675434'}, {'title': 'WALL·E', 'rank': '62', 'id': 'tt0910970'}, {'title': 'The Lives of Others', 'rank': '63', 'id': 'tt0405094'}, {'title': 'Toy Story 3', 'rank': '64', 'id': 'tt0435761'}, {'title': 'The Great Dictator', 'rank': '65', 'id': 'tt0032553'}, {'title': 'The Prestige', 'rank': '66', 'id': 'tt0482571'}, {'title': 'A Clockwork Orange', 'rank': '67', 'id': 'tt0066921'}, {'title': 'Lawrence of Arabia', 'rank': '68', 'id': 'tt0056172'}, {'title': 'Amélie', 'rank': '69', 'id': 'tt0211915'}, {'title': 'To Kill a Mockingbird', 'rank': '70', 'id': 'tt0056592'}, {'title': 'Reservoir Dogs', 'rank': '71', 'id': 'tt0105236'}, {'title': 'Das Boot', 'rank': '72', 'id': 'tt0082096'}, {'title': 'The Lion King', 'rank': '73', 'id': 'tt0110357'}, {'title': 'Cinema Paradiso', 'rank': '74', 'id': 'tt0095765'}, {'title': 'Star Wars: Episode VI - Return of the Jedi', 'rank': '75', 'id': 'tt0086190'}, {'title': 'The Treasure of the Sierra Madre', 'rank': '76', 'id': 'tt0040897'}, {'title': 'The Third Man', 'rank': '77', 'id': 'tt0041959'}, {'title': 'Once Upon a Time in America', 'rank': '78', 'id': 'tt0087843'}, {'title': 'Requiem for a Dream', 'rank': '79', 'id': 'tt0180093'}, {'title': 'Eternal Sunshine of the Spotless Mind', 'rank': '80', 'id': 'tt0338013'}, {'title': 'Full Metal Jacket', 'rank': '81', 'id': 'tt0093058'}, {'title': 'Oldboy', 'rank': '82', 'id': 'tt0364569'}, {'title': 'Braveheart', 'rank': '83', 'id': 'tt0112573'}, {'title': 'L.A. Confidential', 'rank': '84', 'id': 'tt0119488'}, {'title': 'Bicycle Thieves', 'rank': '85', 'id': 'tt0040522'}, {'title': 'Chinatown', 'rank': '86', 'id': 'tt0071315'}, {'title': "Singin' in the Rain", 'rank': '87', 'id': 'tt0045152'}, {'title': 'Princess Mononoke', 'rank': '88', 'id': 'tt0119698'}, {'title': 'Monty Python and the Holy Grail', 'rank': '89', 'id': 'tt0071853'}, {'title': 'Metropolis', 'rank': '90', 'id': 'tt0017136'}, {'title': 'Rashomon', 'rank': '91', 'id': 'tt0042876'}, {'title': 'Some Like It Hot', 'rank': '92', 'id': 'tt0053291'}, {'title': 'Amadeus', 'rank': '93', 'id': 'tt0086879'}, {'title': '2001: A Space Odyssey', 'rank': '94', 'id': 'tt0062622'}, {'title': 'All About Eve', 'rank': '95', 'id': 'tt0042192'}, {'title': 'Witness for the Prosecution', 'rank': '96', 'id': 'tt0051201'}, {'title': 'The Sting', 'rank': '97', 'id': 'tt0070735'}, {'title': 'The Apartment', 'rank': '98', 'id': 'tt0053604'}, {'title': 'Grave of the Fireflies', 'rank': '99', 'id': 'tt0095327'}, {'title': 'Indiana Jones and the Last Crusade', 'rank': '100', 'id': 'tt0097576'}]

In [6]:
df = pd.DataFrame(r.json())
df

                                 title rank         id
0             The Shawshank Redemption    1  tt0111161
1                        The Godfather    2  tt0068646
2               The Godfather: Part II    3  tt0071562
3                         Pulp Fiction    4  tt0110912
4       The Good, the Bad and the Ugly    5  tt0060196
..                                 ...  ...        ...
95         Witness for the Prosecution   96  tt0051201
96                           The Sting   97  tt0070735
97                       The Apartment   98  tt0053604
98              Grave of the Fireflies   99  tt0095327
99  Indiana Jones and the Last Crusade  100  tt0097576

[100 rows x 3 columns]

In [40]:
df.head(5)

                       Movie Name Rank    MovieID
0        The Shawshank Redemption    1  tt0111161
1                   The Godfather    2  tt0068646
2          The Godfather: Part II    3  tt0071562
3                    Pulp Fiction    4  tt0110912
4  The Good, the Bad and the Ugly    5  tt0060196

In [39]:
df.tail(5)

                            Movie Name Rank    MovieID
95         Witness for the Prosecution   96  tt0051201
96                           The Sting   97  tt0070735
97                       The Apartment   98  tt0053604
98              Grave of the Fireflies   99  tt0095327
99  Indiana Jones and the Last Crusade  100  tt0097576

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   100 non-null    object
 1   rank    100 non-null    object
 2   id      100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [13]:
df.shape

(100, 3)

In [15]:
df.columns

Index(['title', 'rank', 'id'], dtype='object')

In [20]:
df.rename(columns={'title':'Movie Name', 'rank':'Rank', 'id':'MovieID'}, inplace=True)
df.columns

Index(['Movie Name', 'Rank', 'MovieID'], dtype='object')

In [21]:
df.isnull()

    Movie Name   Rank  MovieID
0        False  False    False
1        False  False    False
2        False  False    False
3        False  False    False
4        False  False    False
..         ...    ...      ...
95       False  False    False
96       False  False    False
97       False  False    False
98       False  False    False
99       False  False    False

[100 rows x 3 columns]

In [22]:
df.isnull().sum()

Movie Name    0
Rank          0
MovieID       0
dtype: int64

In [23]:
name=df['Movie Name']
name

0               The Shawshank Redemption
1                          The Godfather
2                 The Godfather: Part II
3                           Pulp Fiction
4         The Good, the Bad and the Ugly
                     ...
95           Witness for the Prosecution
96                             The Sting
97                         The Apartment
98                Grave of the Fireflies
99    Indiana Jones and the Last Crusade
Name: Movie Name, Length: 100, dtype: object

In [24]:
df.describe()

       Movie Name Rank    MovieID
count         100  100        100
unique        100  100        100
top     Star Wars    3  tt0099685
freq            1    1          1

In [33]:
StarWars1 = df.iloc[15]
StarWars1

Movie Name    Star Wars
Rank                 16
MovieID       tt0076759
Name: 15, dtype: object

In [37]:
StarWars=(df['Movie Name']=="Star Wars")
StarWars.head(50)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: Movie Name, dtype: bool

In [38]:
StarWars1 = df.iloc[15]
StarWars1

Movie Name    Star Wars
Rank                 16
MovieID       tt0076759
Name: 15, dtype: object